{%- comment -%}
  Show a playlist of pages (site.pages) with a heading, only show pages with a valid permalink and layout called "post"
  Usage:
  {% raw %}{% include homepage/post-playlist.html tag="introduction" heading="Introductory posts" %}{% endraw %}

  Required Parameters:
  * tag: Filter pages by this tag
  * heading: Heading to display above the playlist
  Optional parameters:
  * limit: Number of pages to show (default: 10)
{%- endcomment -%}
{%- assign heading = include.heading | default: include.tag | default: "Interesting posts" -%}
{%- assign limit = include.limit | default: 10 -%}
<section class="rr-post-playlist">
  <section class="toolbar toolbar-links">
    <h5 style="margin-left: -10px">{{ heading }}</h5>
    {%- comment -%}
      In future we can have links in here like so:
      <!-- <div class="container" style="width:80%">
        <ul class="toolbar-nav hidden-md-down m-r-25"><li><a href="#tutorials">Tutorials</a></li></ul>
      </div> -->
    {%- endcomment -%}
  </section>
  <div class="row row-5">
    {%- assign filtered_pages = site.page | where_exp: "page", "page.tags contains include.tag" | sort: "updatedAt" | reverse -%}
    {%- for relevant_page in filtered_pages limit: limit -%}
      {%- if relevant_page.layout == "post" and relevant_page.permalink -%}
        {%- include home-card.html post=relevant_page classes="" -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>
