---
permalink: /gameboy
layout: default
---
GameBoy console
<div class="posts">
  {% for post in site.pages %}
  
  {% if post.collection == 'gameboy'%}
  {{site.collections}}
  {{post}}
  {{post.tags}}
  {{post.collection}}
  {{post.name}}
 {% endif %}
  {% endfor %}
</div>

<div class="posts">
  {% for post in site.pages %}
    {% if post.collection == 'gameboy'%}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
      </div>
    {% endif %}
  {% endfor %}
</div>
