.highlight {
    margin-bottom: 1rem;
    border-radius: 4px
}

.highlight pre {
    margin-bottom: 0
}

.gist .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important
}

.gist .markdown-body {
    padding: 15px
}

.gist pre {
    padding: 0;
    background-color: transparent
}

.gist .gist-file .gist-data {
    font-size: .8rem !important;
    line-height: 1.4
}

.gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0
}

/* Custom language specific overrides */
.language-markdown {
    .highlight .gu {
        font-weight: bold !important;
    }
}

.highlight div {
    background-color:unset;
}

.highlight pre {
  color: #f8f8f2;
  /* background-color: #49483e; */
  background-color: #333;
}


.css .o, .css .o + .nt, .css .nt + .nt {
    color: #999
}
