.highlight {
    margin-bottom: 1rem;
    border-radius: 4px
}

.highlight pre {
    margin-bottom: 0
}

.gist .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important
}

.gist .markdown-body {
    padding: 15px
}

.gist pre {
    padding: 0;
    background-color: transparent
}

.gist .gist-file .gist-data {
    font-size: .8rem !important;
    line-height: 1.4
}

.gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0
}

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5
}

blockquote p:last-child {
    margin-bottom: 0
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem
    }
}

code {
    color: #666
}

.highlight .hll {
    background-color: #ffc
}

.highlight .c {
    color: #999
}

.highlight .k {
    color: #069
}

.highlight .o {
    color: #555
}

.highlight .cm {
    color: #09f;
    font-style: italic
}

.highlight .cp {
    color: #099
}

.highlight .c1 {
    color: #999
}

.highlight .cs {
    color: #999
}

.highlight .gd {
    background-color: #fcc;
    border: 1px solid #c00
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: red
}

.highlight .gh {
    color: #030
}

.highlight .gi {
    background-color: #cfc;
    border: 1px solid #0c0
}

.highlight .go {
    color: #aaa
}

.highlight .gp {
    color: #009
}

.highlight .gu {
    color: #030
}

.highlight .gt {
    color: #9c6
}

.highlight .kc {
    color: #069
}

.highlight .kd {
    color: #069
}

.highlight .kn {
    color: #069
}

.highlight .kp {
    color: #069
}

.highlight .kr {
    color: #069
}

.highlight .kt {
    color: #078
}

.highlight .m {
    color: #f60
}

.highlight .s {
    color: #d44950
}

.highlight .na {
    color: #4f9fcf
}

.highlight .nb {
    color: #366
}

.highlight .nc {
    color: #0a8
}

.highlight .no {
    color: #360
}

.highlight .nd {
    color: #99f
}

.highlight .ni {
    color: #999
}

.highlight .ne {
    color: #c00
}

.highlight .nf {
    color: #c0f
}

.highlight .nl {
    color: #99f
}

.highlight .nn {
    color: #0cf
}

.highlight .nt {
    color: #2f6f9f
}

.highlight .nv {
    color: #033
}

.highlight .ow {
    color: #000
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #f60
}

.highlight .mh {
    color: #f60
}

.highlight .mi {
    color: #f60
}

.highlight .mo {
    color: #f60
}

.highlight .sb {
    color: #c30
}

.highlight .sc {
    color: #c30
}

.highlight .sd {
    color: #c30;
    font-style: italic
}

.highlight .s2 {
    color: #c30
}

.highlight .se {
    color: #c30
}

.highlight .sh {
    color: #c30
}

.highlight .si {
    color: #a00
}

.highlight .sx {
    color: #c30
}

.highlight .sr {
    color: #3aa
}

.highlight .s1 {
    color: #c30
}

.highlight .ss {
    color: #fc3
}

.highlight .bp {
    color: #366
}

.highlight .vc {
    color: #033
}

.highlight .vg {
    color: #033
}

.highlight .vi {
    color: #033
}

.highlight .il {
    color: #f60
}

.css .o, .css .o + .nt, .css .nt + .nt {
    color: #999
}
