/* For phone screen overrides see bottom of this file  */

/* Remove default bootstrap padding for containers */
.container {
  padding: 0px;
  width: 80vw;
  max-width: 90vw;
  /* Margin left was causing the navbar to shift too much to the left on big screens, so disabled */
  /* margin-left: 2%; */
}


/* hide scrollbar on webkit */
::-webkit-scrollbar {
    display: none;
}
/* hide scrollbar in firefox and ie */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* #region Nav Bar  */
.container.navbar-container {
  max-width: 95vw !important;
  width: 95vw;
  @media (min-width: 1300px) {
    /* larger desktop styles */
    width: 80vw !important;
  }
}

#header .logo {
  color: white;
  font-weight: 600;
}
/* #endregion */

.card-video, .card-video .card-img {
  width: 320px;
  height: auto;
}

.card-title h4 {
  margin-top: 0px;
}



.row p {
  padding: 5px;
/*   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif; */
  font-family: 
      /* Use the system UI font on Apple platforms (macOS, iOS) */
      -apple-system, 
      BlinkMacSystemFont,
      /* Use the default UI font on Windows */
      "Segoe UI",
      /* Use the native Android font */
      Roboto,
      /* Fallbacks for older systems or when native fonts are unavailable */
      "Helvetica Neue", 
      "Noto Sans", 
      Arial,
      /* Generic fallback */
      sans-serif;
  
  font-size: 16px;
  margin-bottom: 2px;
  padding-left: 5%;
}

.dataTables_filter input {
  border: 1px lightgrey solid;
  margin-top: 10px;
  border-radius: 5px;
}

.post .post-header > div:last-child .post-title {
  font-size: 2em;
  margin-top: 0px;
  color: #0085b6;
  margin-left: 0;
}

section {
  padding: 30px 0;
}

.footnotes p {
  padding:0px;
  margin-bottom:1px;
}

.dataTable a {
  color: #007bff !important;
}


/* code blocks */
p .language-plaintext, p .language-bash {
/*   padding-left: 5%; We don't want the 5% as we sometimes use the code block for a couple of words */ 
}

.language-plaintext pre {
  background-color: #333;
  color: white;
}

/*           */
/* Includes  */
/*           */
/*  Link to other post */
.linkToOtherPost {
  display: flex;
  .widget-img img {
    height: 100px !important;
  }
}

.linkToOtherPost blockquote:hover {
    background: #0085b60d;
}

.linkToOtherPost blockquote {
  display:flex;
  margin-left: 5%;
}

.linkToOtherPost .widget-img img {
  height: 100px !important;
}



/* Sandpack is the code editor/live preview  */
rr-sandpack {
  display: block;
  margin: 2rem 0;
}

/* -------- */
/*  JS Tree */
.jstree-default .jstree-anchor {
  font-size: 14px !important;
}

.jstree-default .jstree-node {
  margin-left:0px !important;
}

.jstree .jstree-children {
  margin-top: 0px !important;
  padding-left: 0px !important;
}

/* ---- */
/* Tabs */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

.rr-tabs ul.tabs {
	width: 50vw;
/* 	height: 80px; */
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
  padding: 0;
}

.rr-tabs ul.tabs li {	
	float: left;
	width: 130px;
}

.rr-tabs ul.tabs li a {
	position: relative;
	display: block;
/* 	height: 30px; */
	margin-top: 40px;
	padding: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;	
	text-decoration: none;
/* 	color: #ffffff; */
  color: #4c4c4c;
  background: #f6f6f6;
/* 	background: #6edeef; */
	-webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}

.rr-tabs .tabs li:first-child a {
	z-index: 3;
  -webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;
border-top-left-radius: 8px;
}

.rr-tabs .tabs li:nth-child(2) a {
	z-index: 2;
}

.rr-tabs .tabs li:last-child a {
	z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	   -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	        box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 8px;
-moz-border-radius-topright: 8px;
border-top-right-radius: 8px;
}

.rr-tabs ul.tabs li a:hover {
 	margin: 35px 0 0 0; 
	padding: 10px 0 5px 0;
}

.rr-tabs ul.tabs li a.active {
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
  background: #ffffff;
	z-index: 4;
	outline: none;
}

.rr-tabs .group:before,
.rr-tabs .group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.rr-tabs .group:after {
    clear: both;
}

.rr-tabs .rr-tab {
    padding: 30px 40px;
  width: 50vw;
/*   height: 200px; */
  margin: 0 auto;
/*   background: #545f60; */
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* End Tabs  */

/*  ILBM Viewer */
.draghint {
  display: table;
  box-sizing: border-box;
  border-width: 10px;
  border-style: dashed;
  background-color: white;
  border-color: #ccc;
  width: 100%;
}
  
.dragtext {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999;
}
  
.hover {
  border-color: #333;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}
/* End ILM viewer  */


/*  */
/* Phone screen overrides  */
/*  */
@media (max-width: 768px) {
  .toolbar .toolbar-links {
    min-height: 55px !important;
  }

  .rr-head-hero-container {
   display: none !important;
  }

  .rr-head-hero {
    display:none !important;
  }

  .rr-home-section .container {
    padding-left: 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
    width: 100vw;
  }
  
  #follow-retro-reversing {
    margin-left: -25px;
    margin-right: -25px;
    .follow-text {
      font-size: unset;
    }
  }
}

.dark {
  body, section, .post-card, .post, post-tag {
    background-color: #111;
    color: white;
  }
  h1, h2, h3, h4, h5, h6, hr, span, strong, b {
    color: white;
  }
}
