.post ul {
    list-style-type: initial;
    padding: 5%;
    margin: initial;
}

.post a {
  text-decoration: underline ;
}

. widget-friends i {
  width:64px;
  height:64px;
  text-align: center;
}
