<section class="bg-inverse p-y-0">
    <div class="owl-carousel owl-slide full-height">
      <div class="carousel-item" style="background-image: url('img/carousel/carousel-1.jpg');">
        <div class="carousel-overlay"></div>
        <div class="carousel-caption">
          <div>
            <h3 class="carousel-title">The Witcher 3: Blood and Wine</h3>
            <p>The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://www.youtube.com/watch?v=c0i88t0Kacs" data-lightbox role="button">Watch Gameplay</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('img/carousel/carousel-2.jpg');">
        <div class="carousel-overlay"></div>
        <div class="carousel-caption">
          <div>
            <h3 class="carousel-title">The Last of Us: Remastered</h3>
            <p>Survive an apocalypse on Earth in The Last of Us, a PlayStation 4-exclusive title.</p>
            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://www.youtube.com/watch?v=W2Wnvvj33Wo" data-lightbox role="button">Watch Gameplay</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
        <div class="carousel-overlay"></div>
        <div class="carousel-caption">
          <div>
            <h3 class="carousel-title">For Honor: The Berserker</h3>
            <p>Enter the chaos of a raging war as a bold knight, brutal viking, or mysterious samurai.</p>
            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://www.youtube.com/watch?v=zFUymXnQ5z8" data-lightbox role="button">Watch Gameplay</a>
          </div>
        </div>
      </div>
    </div>
  </section>
