<div class="comments">
 <script src="https://giscus.app/client.js"
        data-repo="RetroReversing/retroReversing"
        data-repo-id="MDEwOlJlcG9zaXRvcnk2NTY4MDg2Mg=="
        data-category="Post Comments"
        data-category-id="DIC_kwDOA-o13s4CYl6s"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
  </script>
</div>
