<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<!-- <div id="folder-browser">
  <ul>
      <li>Root node 1
        <ul>
          <li id="child_node_1">Child node 1</li>
          <li>Child node 2</li>
        </ul>
      </li>
      <li>Root node 2</li>
    </ul>
</div> -->

<script>
$('.folder-browser').jstree({
  "core" : {
    "animation" : 0,
    "check_callback" : true,
    "themes" : { "stripes" : true },
//     data: [{'id':'C:','parent':'','text':'C:'},{'id':'C:-BATMAN','parent':'C:','text':'BATMAN'},{'id':'C:-BATMAN-GAME','parent':'C:-BATMAN','text':'GAME'},{'id':'C:-BATMAN-GAME-ENEMYAI.C','parent':'C:-BATMAN-GAME','text':'ENEMYAI.C'},{'id':'C:','parent':'','text':'C:'},{'id':'C:-BATMAN','parent':'C:','text':'BATMAN'},{'id':'C:-BATMAN-GAME','parent':'C:-BATMAN','text':'GAME'},{'id':'C:-BATMAN-GAME-EPROM','parent':'C:-BATMAN-GAME','text':'EPROM'},{'id':'C:-BATMAN-GAME-EPROM-ATTRACT.S','parent':'C:-BATMAN-GAME-EPROM','text':'ATTRACT.S'},{'id':'c','parent':'','text':'c'},{'id':'c-batman','parent':'c','text':'batman'},{'id':'c-batman-levels','parent':'c-batman','text':'levels'},{'id':'c-batman-levels-hotel.c','parent':'c-batman-levels','text':'hotel.c'},{'id':'c','parent':'','text':'c'},{'id':'c-batman','parent':'c','text':'batman'},{'id':'c-batman-game','parent':'c-batman','text':'game'},{'id':'c-batman-game-enemy.h','parent':'c-batman-game','text':'enemy.h'}]
    /*'data' : {
      'url' : function (node) {
        return node.id === '#' ?
          'ajax_demo_roots.json' : 'ajax_demo_children.json';
      },
      'data' : function (node) {
        return { 'id' : node.id };
      }
    }*/
  },
  "types" : {
    "#" : {
      "max_children" : 20,
      "max_depth" : 20,
      "valid_children" : ["root"]
    },
    "root" : {
      "icon" : "/static/3.3.7/assets/images/tree_icon.png",
      "valid_children" : ["default"]
    },
    "default" : {
      "valid_children" : ["default","file"]
    },
    "file" : {
      "icon" : "glyphicon glyphicon-file",
      "valid_children" : []
    }
  },
  "plugins" : [
    "search",
    "state", "types", "wholerow"
  ]
});
</script>
