<!-- footer -->
  <footer id="footer">
    <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                <h4 class="footer-title">About RetroReversing</h4>
                <p>RetroReversing is a hand-picked list of the best Reverse Engineering material available on the web. All our content is of high quality and all content references the original source.</p>
              </div>
            <div class="col-sm-12 col-md-6">
                <h4 class="footer-title">Help Us Provide the Correct Answer</h4>
                <p>"The best way to get the right answer on the internet is not to ask a question; it's to post the wrong answer." - Cunningham's Law</p>
            </div>
            
          </div>
          <div class="footer-bottom">
            <div class="footer-social">
              <a rel="noreferrer" href="https://twitter.com/RetroReversing" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
              <a rel="noreferrer" href="https://www.youtube.com/user/RetroReversing" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
              <a rel="noreferrer" href="/atom.xml" target="_blank" data-toggle="tooltip" title="rss"><i class="fa fa-rss"></i></a>
               
            </div>
            <p>Copyright &copy; 2023 <a href="https://www.retroreversing.com/" target="_blank">Retro Reversing</a>. All rights reserved.</p>
          </div>
    </div>
  </footer>
  <!-- /footer -->
<script async src="/public/js/jquery.min.js"></script>
<script async src="/public/js/popper.min.js"></script>
<script async src="/public/js/bootstrap.min.js"></script>
<script async src="/public/js/generateTOC.js"></script>
<script async src="/public/js/owl.carousel.min.js"></script>
<script async src="/public/js/lightbox.js"></script>
<script async src="/public/js/wow.min.js"></script>
<!-- <script src="/public/js/mermaid.min.js"></script> -->

<script async id="datatable-scr" type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/r-2.2.2/rg-1.0.3/sc-1.5.0/datatables.min.js"></script>

<!-- GeoPattern generates a nice patten for any element that has class="geopatten" and data-title="whatever" -->
<script async src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>
<!-- End GeoPattern -->
<script defer src="/public/js/main.js"></script>

<script>
    
    
  </script>

<script defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
