<!-- footer -->
  <footer id="footer">
    <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                <h4 class="footer-title">About RetroReversing</h4>
                <p>RetroReversing is a hand-picked list of the best Reverse Engineering material available on the web. All our content is of high quality and all content references the original source.</p>
              </div>
          </div>
          <div class="footer-bottom">
            <div class="footer-social">
              <a href="https://twitter.com/amorri40" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.youtube.com/user/amorri40" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
            </div>
            <p>Copyright &copy; 2018 <a href="http://www.retroreversing.com/" target="_blank">Retro Reversing</a>. All rights reserved.</p>
          </div>
    </div>
  </footer>
  <!-- /footer -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/lightbox.js"></script>
<script src="/public/js/mermaid.min.js"></script>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/r-2.2.2/rg-1.0.3/sc-1.5.0/datatables.min.js"></script>

  <script>
    (function($) {
      "use strict";

      // Full Width Carousel
      $('.owl-slide').owlCarousel({
        nav: true,
        loop: true,
        autoplay: false,
        items: 1
      });

      // Recent Reviews
      $('.owl-list').owlCarousel({
        margin: 25,
        nav: true,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          500: {
            items: 2
          },
          701: {
            items: 3
          },
          1000: {
            items: 4
          }
        }
      });
      
      // Make markdown tables have the bootstrap table class to look pretty
      $('table').addClass('table');
     
      $('table').DataTable();

      // lightbox
      $('[data-lightbox]').lightbox();
    })(jQuery);
  </script>
<script src="/public/js/main.js"></script>
