<!-- footer -->
  <footer id="footer">
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://twitter.com/amorri40" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/user/amorri40" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2018 <a href="http://www.retroreversing.com/" target="_blank">Retro Reversing</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->
