<header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <img src="/public/images/RetroReversingLogoSmall.png" style="height: 45px; padding-right: 10px; margin-bottom: 10px;" />
            <a href="/" class="logo">Retro Reversing</a>
            <nav class="nav">
              <ul>
                <li >
                  <a href="/">Home</a>       
                </li>
                <!-- <li class="has-dropdown mega-menu mega-games">
                  <a href="/consoles">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">                    
                          <div class="col">
                            <div class="">
                              <a href="/games/gb/pokemon"><img src="/public/consoles/Nintendo Game Boy.png"></a>
                              <span class="badge badge-steam">GB</span>
                            </div>
                            <h4><a href="/games/gb/pokemon">Pokemon Red/Blue/Yellow</a></h4>                        
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="/games/ssxtricky"><img src="img/menu/menu-3.jpg"></a>
                              <span class="badge badge-xbox-one">Xbox PS2 GC</span>
                            </div>
                            <h4><a href="/games/ssxtricky">SSX Tricky</a></h4>                            
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="/games/sonic2"><img src="img/menu/menu-4.jpg"></a>
                              <span class="badge badge-ps4">Mega Drive</span>
                            </div>
                            <h4><a href="/games/sonic2">Sonic 2</a></h4>                            
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="/games/supermarioworld"><img src="img/menu/menu-5.jpg"></a>
                              <span class="badge badge-pc">SNES</span>
                            </div>
                            <h4><a href="/games/supermarioworld">Super Mario World</a></h4>
                            
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>-->
<!--                 <li class="has-dropdown">
                  <a href="/tutorials/">Tutorials</a>
                  <ul>
                    <li>
                      <a href="/tutorials/introduction">Introduction & Basics</a>                                   
                    </li>
                    <li>
                      <a href="/ghidra">Ghidra Decompiler & Disassembler</a>                                   
                    </li>
                    <li>          
                      <a href="/tutorials/memory">Memory Editing</a>                   
                    </li>
                    <li>          
                      <a href="/sdks">SDKs (Software Development Kits)</a>                   
                    </li>
                  </ul>
                </li> -->
                
                 <li class="has-dropdown mega-menu">
                  <a href="#">Reversing</a>
                  <ul style="background-image: url('img/menu/mega-menu.png');">
                    <li>
                      <div class="container">
                        <div class="row">
                          
                          <div class="col">
                            <span class="title">Learn</span>
                            <a href="/tutorials/introduction">Introduction & Basics</a>
                            <a href="/Reversing-Emulators">All Reversing Emulators</a> 
                            <a href="/ghidra">Ghidra Decompiler & Disassembler</a>                                   
                            <a href="/tutorials/memory">Memory Editing</a>
                          </div>
                              
                          <div class="col">
                            <span class="title">Source Code</span>
                            <a href="/source-code/retail-console-source-code">Retail Game Source code</a>
                            <a href="/source-code/decompiled-retail-console-games">Decompiled Retail Console Games</a>
                            <a href="/sdks">Console SDKs (Software Development Kits)</a> 
                            <a href="/nintendoleaks">Nintendo Leaks</a>
                          </div>
                          <div class="col">
                            <span class="title">Hardware</span>
                              <a href="/hardware/devkits">Development Kits</a>
                              <a href="/hardware/consoles">Console Hardware Architecture</a>
                              <a href="/hardware/cheatdevices">Cheat Devices</a>
                          </div>
                          <div class="col">
                            <span class="title">Reversing Games</span>
                            <a href="/games/symbols">Games with Debug Symbols</a>   
                            <a href="/games/">Game Reversing Projects</a>        
                            <a href="/games/fileformats">Game File Formats</a>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                
                 <li class="has-dropdown mega-menu">
                  <a href="#">Consoles</a>
                  <ul style="background-image: url('img/menu/mega-menu.png');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">Nintendo</span>
                            <a href="/gameboy">Game Boy</a>
                            <a href="/gba">Game Boy Advance</a>
                           <!-- <a href="/ds">Nintendo DS</a> -->
                            <a href="/3ds">Nintendo 3DS</a>
                            <a href="/nes">Nintendo Entertainment System</a>
                            <a href="/snes">Super Nintendo</a>
                            <a href="/n64">Nintendo 64</a>
                            <a href="/gamecube">Gamecube</a>
                             <a href="/wii">Wii</a>
                            <a href="/wiiU">WiiU</a>
                            <a href="/PokemonMini/">Pokemon Mini</a>                   
                            <!-- <a href="/virtualboy">Virtual Boy</a> -->
                          </div>
                          <div class="col">
                            <span class="title">Sega</span>
                            <a href="/sms">Master System</a>
                            <a href="/md">Mega Drive</a>
                            <a href="/saturn">Saturn</a>
                            <a href="/dreamcast">Dreamcast</a>
                           <!-- <a href="/32X">32X</a> -->
                            <a href="/gamegear">Game Gear</a>                            
                          </div>
                          <div class="col">
                            <span class="title">Sony</span>
                            <a href="/ps1">Playstation 1</a>
                            <a href="/ps2">Playstation 2</a>
                            <a href="/psp">PSP</a>
                            <a href="/ps3">Playstation 3</a>
                         <!--   <a href="/pocketstation">Pocket Station</a>                             -->
                          </div>
                          <div class="col">
                            <span class="title">Microsoft</span>
                            <a href="/xbox">Xbox</a>
                            <a href="/pc">PC</a>
<!--                             <a href="/xbox360">Xbox 360</a>
                            <a href="/msdos">MS-DOS</a>
                            <a href="/windows">Windows</a>                            -->
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                
                <li class="has-dropdown">
                  <a href="/games/">Games</a>
                  <ul>
                    <li>
                      <a href="/games/engines">Game Engines by Platform</a>                                   
                    </li>
                    <li>
                      <a href="/games/">Game Reversing Projects</a>                                   
                    </li>
                    <li>
                      <a href="/games/fileformats">Game File Formats</a>                                   
                    </li>                
                    <li>          
                      <a href="/games/sourcecode">Retail Game Source code</a>                   
                    </li>
                    <li>          
                      <a href="/games/symbols">Games with Debug Symbols</a>                   
                    </li>
                    <li>          
                      <a href="/games/exclusives">Exclusive Games</a>                   
                    </li>
                  </ul>
                </li>
                
                 <li class="has-dropdown">
                  <a href="#">Tools</a>
                  <ul>
                    <li>
                      <a href="/Reversing-Emulators">All Reversing Emulators</a> 
                    </li>
                    <li>
                      <a href="/ilbm">Deluxe Paint ILBM/LBM Viewer</a>
                    </li>
                    <li>
                      <a href="/n64Visualizer">N64 ROM Header Viewer</a> 
                    </li>
                  </ul>
                </li>
                
                
                <li class="has-dropdown">
                  <a href="/hardware/">Hardware</a>
                  <ul>
                    <li><a href="/hardware/devkits">Development Kits</a></li>
                    <li><a href="/hardware/consoles">Console Hardware Architecture</a></li>
                    <li><a href="/hardware/cheatdevices">Cheat Devices</a></li>
                  </ul>
                </li>
                
               
                
                <li class="has-dropdown">
                  <a href="#">Companies</a>
                  <ul>
                     <li>          
                      <a href="/crossproducts">Cross Products</a>                   
                    </li>
                    <li>
                      <a href="/datel">Datel</a>                                   
                    </li>
                    <li>          
                      <a href="/snsystems">SN Systems</a>                   
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          
        </div>
      </div>
      
    </div>
  </header>
