<header id="header">
    <div class="navbar-shell">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="rr-home-sidebar-toggle" href="#" role="button" aria-label="Toggle sidebar" aria-expanded="true"><i class="fa fa-bars"></i></a>
            <a href="/" class="navbar-brand-link" aria-label="Retro Reversing home">
              <img
                src="/public/images/RetroReversingLogoSmall.png"
                srcset="/public/images/RetroReversingLogoSmall.png 1x, /public/images/RetroReversingLogo.png 2x"
                width="45"
                height="45"
                alt="RetroReversing logo"
                class="navbar-brand-logo"
              />
              <span class="logo">Retro Reversing</span>
            </a>
          </div>

          <div class="navbar-center">
            <div class="navbar-search-wrap">
              <form id="desktop-search-form" class="navbar-search-youtube" action="/" method="get" role="search" autocomplete="off">
                <input type="text" class="form-control" id="desktop-search-input" name="q" placeholder="Search RetroReversing" autocomplete="off" aria-label="Search RetroReversing" aria-controls="desktop-search-suggestions-list" aria-expanded="false" aria-autocomplete="list" role="combobox">
                <button type="submit" class="navbar-search-youtube-button" aria-label="Search">
                  <i class="fa fa-search"></i>
                </button>
              </form>
              <div id="desktop-search-suggestions" class="navbar-search-suggestions" hidden>
                <ul id="desktop-search-suggestions-list" class="navbar-search-suggestions-list" role="listbox"></ul>
              </div>
            </div>
          </div>

          <div class="navbar-right">
            <a href="#" class="navbar-search-mobile-toggle" data-toggle="search" aria-label="Search"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile search overlay -->
    <div class="navbar-search-overlay">
      <div class="container">
        <form id="search-form" role="search" autocomplete="off">
          <input type="text" class="form-control" id="search-input" placeholder="Search posts by title or content..." autocomplete="off">
          <span class="close"><i class="fa fa-times"></i></span>
        </form>
        <div id="search-results" style="display: none;">
          <div id="search-results-list"></div>
        </div>
      </div>
    </div>
  </header>