{% if page.heroimage %}
<section class="hero hero-review" style="background-image: url('{{ page.heroimage }}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">     
        <h2 class="hero-title">{{ page.herotitle }}</h2>
        <p>{{ page.herotext }}</p>
        <a class="btn btn-primary btn-lg btn-shadow btn-rounded m-t-20" href="{{ page.herolink }}" role="button">Watch Now</a>
      </div>
    </div>
</section>
{% endif %}
{% if page.herocarousel %}
<section class="bg-inverse p-y-0">
    <div class="owl-carousel owl-slide owl-slide-auto-play">
      {% for item in page.herocarousel %}
        <div class="carousel-item" style="height:350px; background-image: url('{{ item.image }}');">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption">
              <div class="embed-responsive">
                <h2 class="hero-title" style="color:white"><a href="{{ item.herolink }}">{{ item.herotitle }}</a></h2>
                <p><a href="{{ item.herolink }}">{{ item.herotext }}</a></p>
                <a class="btn btn-primary btn-lg btn-shadow btn-rounded m-t-20" href="{{ item.herolink }}" role="button">Find Out More</a>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
