{% assign card_topics = include.post.recommend | default: include.post.tags %}
{% assign generated_placeholder_slug = include.post.permalink | replace: '.html', '' | slugify %}
{% assign generated_placeholder_path = '/public/generated/placeholders/' | append: generated_placeholder_slug | append: '.jpg' %}
{% assign generated_placeholder_file = site.static_files | where: 'path', generated_placeholder_path | first %}
{% if include.hidden %}
  <a style="display:none" class="hidden-card" href="{{ include.post.url }}" data-image="include.post.image" data-title="{{ include.post.title }}" {% if card_topics %}data-tag="{% if include.post.recommend %}{% if include.post.recommend.first %}{{ include.post.recommend.first }}{% else %}{{ include.post.recommend }}{% endif %}{% elsif include.post.tags.first %}{{ include.post.tags.first }}{% else %}{{ include.post.tags }}{% endif %}"{% endif %} data-date=" {{ include.post.updatedAt | date_to_long_string: "ordinal" }}"> </a>
{% else %}
  <div class="{{ include.classes }} card card-video">
      <div class="card-img">
          <a href="{{ include.post.url }}" target="_blank">
            {% if include.post.image %}
                <img class="lazy-load" data-image-full="{{ include.post.image }}" alt="{{ include.post.title }}">
            {% elsif generated_placeholder_file %}
                <img class="lazy-load" data-image-full="{{ generated_placeholder_path }}" alt="{{ include.post.title }}">
            {% elsif include.post.youtube %}
                <img class="lazy-load" data-image-full="https://img.youtube.com/vi/{{ include.post.youtube }}" alt="{{ include.post.title }}">
            {% else %}
                {% include placeholder-post-image.html title=include.post.title post=include.post %}
            {% endif %}
          </a>
          {% if card_topics %}
            <div class="card-meta">
              {% if include.post.recommend %}
                {% if include.post.recommend.first %}
                  <span>{{ include.post.recommend.first }}</span>
                {% else %}
                  <span>{{ include.post.recommend }}</span>
                {% endif %}
              {% elsif include.post.tags.first %}
                <span>{{ include.post.tags.first }}</span>
              {% else %}
                <span>{{ include.post.tags }}</span>
              {% endif %}
            </div>
          {% endif %}
      </div>
      <div class="card-block">
           <h4 class="card-title">
             <a href="{{ include.post.url }}" target="_blank" >{{ include.post.title }}</a>
           </h4>
           <div class="card-meta">
             {% if include.post.updatedAt %}
                <span><i class="fa fa-clock"></i> {{ include.post.updatedAt | date_to_long_string: "ordinal" }}</span>
             {% endif %}
           </div>      
      </div>
  </div>
{% endif %}
