<!-- To use this: include link-to-other-site.html title=Title url=https://fullLink.etc -->
<div class="linkToOtherPost">
{% if include.url %}
  <a href="{{ include.url }}" target="_blank">
  <blockquote>
    <div class="widget-img">
        {% if include.image %}
          <img style="max-width:200px" class="lazy-load otherPostImg" data-image-full="{{ include.image }}" alt="">
        {% endif %}
    </div>
    <div class="linkToOtherPostRight">
      <h3 style="margin-top:10px; margin-left: 10px"><a target="_blank" href="{{ include.url }}">{{ include.title }}</a></h3> 
      <p>{{ include.description }}</p>
    </div>
  </blockquote>
  </a>
{% endif %}
</div>
