{% comment %}
<!-- To use this: include link-to-other-post.html post=/permlink-->
  Link to other post include

  Unfortunately the parameter is called "post" but it is actually the permalink to the post you want to link to.
{% endcomment %}

{% if include.post %}
  <div class="linkToOtherPost">
  {% for post in site.pages %}
  {% if post.permalink == include.post %}
    <a target="_blank" href="{{ post.permalink }}" aria-label="Link to {{ post.title }}">
      <blockquote>
        <div class="widget-img">
            {% if post.image %}
              <img class="lazy-load otherPostImg" data-image-full="{{ post.image }}" alt="">
            {% elsif post.youtube %}
              <img class="lazy-load otherPostImg" data-image-full="https://img.youtube.com/vi/{{ post.youtube }}/" alt="{{ post.title }}">
            {% else %}
              {% include placeholder-post-image.html title=post.title post=post %}
            {% endif %}
        </div>
        <div class="linkToOtherPostRight">
          <h3>
              {{ post.title }}
          </h3> 
          {% if include.description %}
            <p>{{ include.description }}</p>
          {% else %}
            <p>{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>
          {% endif %}
        </div>
      </blockquote>
    </a>
  {% endif %}
  {% endfor %}
  </div>
{% endif %}
