<!-- To use this: include link-to-other-post.html post=/permlink-->
<div class="linkToOtherPost">
{% if include.post %}
{% for post in site.pages %}
{% if post.permalink == include.post %}
<blockquote>
  <div class="widget-img">
    <a href="{{ post.permalink }}" target="_blank">
      {% if post.image %}
        <img style="min-width:200px; max-width:200px" class="lazy-load otherPostImg" data-image-full="{{ post.image }}" alt="">
      {% else if post.youtube %}
        <img style="min-width:200px; max-width:200px" class="lazy-load otherPostImg" data-image-full="https://img.youtube.com/vi/{{ post.youtube }}/" alt="{{ post.title }}">
      {% endif %}
    </a>
  </div>
  <div class="linkToOtherPostRight">
    <h3 style="margin-top:10px; margin-left: 10px"><a target="_blank" href="{{ post.permalink }}">{{ post.title }}</a></h3> 
    <p>{{ include.description }}</p>
  </div>
</blockquote>
{% endif %}
{% endfor %}
{% endif %}
</div>
