<!-- To use this: include link-to-other-site-text.html title=Title url=https://fullLink.etc word1="ABC" word2="on github" color1="wisteria" color2="midnight"  -->
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  min-width: 150px;
  padding-top: 12%;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
</style>

<div class="linkToOtherPost">
{% if include.url %}
  <blockquote>
    <div class="widget-img">
      <a href="{{ include.url }}" target="_blank">
        <div class="text">
            <span class="word{{include.number}} {{ include.color1 }}" style="position: absolute; opacity:0;">{{ include.word1 }}</span>
            <span class="word{{include.number}} {{ include.color2 }}" style="position: absolute; opacity:0;">{{ include.word2 }}</span>
        </div>
      </a>
    </div>
    <div class="linkToOtherPostRight">
      <h3 style="margin-top:10px; margin-left: 10px"><a target="_blank" href="{{ include.url }}">{{ include.title }}</a></h3> 
      <p style="padding-left: 2%; color: lightslategrey;">{{include.description}}</p>
    </div>
  </blockquote>
{% endif %}
</div>

<script>
function wordArt() {
  var words = document.getElementsByClassName('word{{include.number}}');
  var wordArray = [];
  var currentWord = 0;

  words[currentWord].style.opacity = 1;
  for (var i = 0; i < words.length; i++) {
    splitLetters(words[i]);
  }

  function changeWord() {
    var cw = wordArray[currentWord];
    var nw = currentWord == words.length-1 ? wordArray[0] : wordArray[currentWord+1];
    for (var i = 0; i < cw.length; i++) {
      animateLetterOut(cw, i);
    }

    for (var i = 0; i < nw.length; i++) {
      nw[i].className = 'letter behind';
      nw[0].parentElement.style.opacity = 1;
      animateLetterIn(nw, i);
    }

    currentWord = (currentWord == wordArray.length-1) ? 0 : currentWord+1;
  }

  function animateLetterOut(cw, i) {
    setTimeout(function() {
      cw[i].className = 'letter out';
    }, i*80);
  }

  function animateLetterIn(nw, i) {
    setTimeout(function() {
      nw[i].className = 'letter in';
    }, 340+(i*80));
  }

  function splitLetters(word) {
    var content = word.innerHTML;
    word.innerHTML = '';
    var letters = [];
    for (var i = 0; i < content.length; i++) {
      var letter = document.createElement('span');
      letter.className = 'letter';
      letter.innerHTML = content.charAt(i);
      if (letter.innerHTML === ' ') {
        letter.innerHTML = '&nbsp;'
      }
      word.appendChild(letter);
      letters.push(letter);
    }

    wordArray.push(letters);
  }

  changeWord();
  setInterval(changeWord, 6000);
}
  wordArt();
</script>
