<!--   Placeholder  -->
<div style="height:135px; background-color: lightgrey; display: block;">
  <img class="lazy-load" style="height:50px; display: block;" data-image-full="/public/images/RRPlaceholder.jpg" alt="{{ include.post.title }}">
  <img class="geopattern" data-title="{{ include.post.title }}" />
  <span style="position: absolute; top:5%; left: 12%; white-space: nowrap; text-overflow: ellipsis; background-color: unset; text-transform: uppercase; overflow: hidden; font-weight: 900;">{{ include.post.title }}</span>
</div>
