{% if include.title %}
<!--   Placeholder  -->
<div style="position: relative; color: white; height:135px; background-color: lightgrey; display: block;" class="geopattern" data-title="{{ include.title }}">
  <img class="lazy-load" style="height:32% !important; display: block;" data-image-full="/public/images/RRPlaceholder.jpg" alt="{{ include.title }}">
  <span style="position: absolute; top:7%; left: 14%; white-space: nowrap; text-overflow: ellipsis; background-color: unset; text-transform: uppercase; overflow: hidden; font-weight: 900;">{{ include.title }}</span>
</div>
{% endif %}
