<!-- This is used in the console page list of posts but not in the post layout as its a different header and uses "page" not "post" -->
<div class="post-header">
  <div>
    {% if page.console %}
      <img class="post-header-icon" src="{{ site.category_images[page.console] }}" alt="{{ page.console }}">
    {% elsif post.thumbnail %}
      <img class="post-header-icon" src="{{ post.thumbnail }}" alt="">
    {% else %}
      <img src="/public/images/RetroReversingLogoSmall.png" alt="Retro reversing logo">
    {% endif %}
  </div>
  
  <div>
    <h2 class="post-title">
     <!--  Note: use post NOT page for each title -->
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
  </div>
</div>
