<div class="post post-card">
        {%- comment -%}
  <!-- This is used in the category page list of posts but not in the post layout as its a different header -->
  Parameters:
  * post - post object to render
  * page_category - category/tag context for header icon
        {%- endcomment -%}
  {% assign post = include.post %}
  {% assign page_category_raw = include.page_category %}
        {% assign page_category_json = page_category_raw | jsonify %}
        {% if page_category_json contains '[' %}
          {% assign page_category = page_category_raw | first %}
        {% else %}
          {% assign page_category = page_category_raw %}
        {% endif %}
        {% assign page_category_meta = site.category[page_category] %}
        {% if page_category_meta == nil %}
          {% assign page_category_meta = site.category[page_category | downcase] %}
        {% endif %}
        <div class="post-header">
          <div>
            {% if page_category and page_category_meta and page_category_meta.image %}
              <img class="post-header-icon" src="{{ page_category_meta.image }}" alt="{{ page_category_meta.title | default: page_category }}">
            {% elsif post.thumbnail %}
              <img class="post-header-icon" src="{{ post.thumbnail }}" alt="">
            {% else %}
              <img src="/public/images/RetroReversingLogoSmall.png" alt="Retro reversing logo">
            {% endif %}
          </div>
          
          <div>
            <h2 class="post-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
          </div>
        </div>
  
        <div class="post-thumbnail">
          {% assign generated_placeholder_slug = post.permalink | replace: '.html', '' | slugify %}
          {% assign generated_placeholder_path = '/public/generated/placeholders/' | append: generated_placeholder_slug | append: '.jpg' %}
          {% assign generated_placeholder_file = site.static_files | where: 'path', generated_placeholder_path | first %}
          <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}">
            {% elsif generated_placeholder_file %}
              <img src="{{ generated_placeholder_path }}" alt="{{ post.title }}">
            {% elsif post.youtube %}
              <img src="https://img.youtube.com/vi/{{ post.youtube }}" alt="{{ post.title }}">
            {% else %}
              {% include_cached placeholder-post-image.html title=post.title post=post %}
            {% endif %}
          </a>

          {% if post.excerpt %}
            <p>
                {{ post.excerpt | markdownify }} <a href="{{ site.baseurl }}{{ post.url }}">...</a>
            </p>
          {% else %}
            <p>
              {{ post.content | markdownify | strip_html | truncatewords: 30 }}
              <a href="{{ site.baseurl }}{{ post.url }}">...</a>
            </p>
          {% endif %}
        </div>       

        <div class="post-footer">
          
          <a class="btn btn-secondary" href="{{ site.baseurl }}{{ post.url }}" role="button">Read More</a>
          {% if post.tags %}
              <div class="post-tags">
                {% for tag in post.tags %}
                  <a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
              </div>
           {% endif %}
          <!-- <a class="float-right p-t-10" href="#"><i class="fa fa-heart-o"></i> 2 likes</a> -->
          
        </div>
</div>
