<div class="post post-card">
          <div class="post-header">
            <div>
              <img src="{{ post.thumbnail }}" alt="">
            </div>
              <div>
                <h2 class="post-title">
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h2>
              </div>
            
          </div>
        <div class="post-thumbnail">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}">
            {% else if post.youtube %}
              <img src="https://img.youtube.com/vi/{{ post.youtube }}" alt="{{ post.title }}">
            {% else %}
              <img src="{{ page.consoleimage }}" alt="{{ post.title }}">
            {% endif %}
          </a>
        </div>
        {% if post.excerpt %}
            <p>
              {{ post.excerpt | markdownify }} <a href="{{ site.baseurl }}{{ post.url }}">...</a>
            <p>
        {% else %}
              <p>Read all about {{ post.title }} in this s<a href="{{ site.baseurl }}{{ post.url }}">...</a></p>
        {% endif %}
            
        

        <div class="post-footer">
          
          <a class="btn btn-secondary" href="{{ site.baseurl }}{{ post.url }}" role="button">Read More</a>
          {% if post.tags %}
              <div class="post-tags">
                {% for tag in post.tags %}
                  <a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
              </div>
           {% endif %}
          <a class="float-right p-t-10" href="#"><i class="fa fa-heart-o"></i> 2 likes</a>
          {% if site.disqus_short_name %}
<!--               <span><a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"><i class="fa fa-comment-o"></i> 0 comments</a></span> -->
          {% endif %}
          
          
        </div>
      </div>
