<!-- recommended-sidebar  -->
{% assign related_topics = include.recommend | default: include.tags %}
{% if related_topics %}
  <div class="widget widget-videos">
   {% if include.recommend_title %}
     <h5 class="widget-title">{{ include.recommend_title }}</h5>
    {% else %}
       <h5 class="widget-title">Recommended Content</h5>
    {% endif %}
    
    <ul class="widget-list">
      {% if related_topics.first %}
       {% comment %}
          This is for when the related topics are an array
        {% endcomment %}
      
        {% for recommend in related_topics %}
          {% for post in site.pages where_exp:"post","post.tags contains recommend" %}
              {% if post.tags contains recommend and post.url != include.current_url %}
                <li>
                  {% include_cached post-discovery/post-card.html post=post classes="" %}
                  <hr />
                </li>
              {% endif %}
            {% endfor %}
        {% endfor %}
      {% else %}
      
        {% comment %}
          This is for when the related topics are NOT an array
        {% endcomment %}
      
        {% for post in site.pages where_exp:"post","post.tags contains related_topics" %}
          {% if post.tags contains related_topics and post.url != include.current_url %}
            <li>
              {% include_cached post-discovery/post-card.html post=post classes="" %} 
              <hr />
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}

    </ul>
  </div>
{% endif %}
<!-- /recommended-sidebar -->
