<div class="social-share">
  <a class="btn btn-social btn-facebook btn-circle" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" data-toggle="tooltip" title="{{ page.title }}" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
  <span>0</span>
  <a class="btn btn-social btn-twitter btn-circle" data-toggle="tooltip" href="https://twitter.com/share?url={{site.url}}{{page.url}}&amp;text={{ page.title }}&amp;hashtags=retroreversing" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
  <a class="btn btn-social btn-reddit btn-circle" href="http://reddit.com/submit?url={{site.url}}{{page.url}}&amp;title={{ page.title }}" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on Reddit"><i class="fa fa-reddit"></i></a>
</div>
