<div class="social-share">
  <a class="btn btn-social btn-facebook btn-circle" href="http://www.facebook.com/sharer.php?u={page.url}" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
  <span>0</span>
  <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" href="https://twitter.com/share?url=https://www.retroreversing.com&amp;text=RetroReversing&amp;hashtags=retroreversing" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
  <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-google-plus"></i></a>
</div>
