<!-- sources-sidebar  -->
{% if include.references %}
  
      <div class="widget widget-friends">
        <h5 class="widget-title">Sources <span>({{ include.references.size }})</span></h5>
        <ul>
          {% for reference in site.references %}
            {% if include.references contains reference.name %}
              <li><a href="{{ reference.link }}" data-toggle="tooltip" title="{{ reference.title }}"><img src="{{ reference.image }}" alt="{{ reference.title }}"></a></li>
            {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% if include.hideTOC != true %}
  {% capture toc_markup %}{% include post-toc.html content_html=include.content_html %}{% endcapture %}
  {% assign toc_markup_stripped = toc_markup | strip %}
  {% if toc_markup_stripped != '' %}
    <div class="post-directory widget">
      <h2 class="widget-title">Table of Contents</h2>
      {{ toc_markup_stripped }}
    </div>
  {% endif %}
{% endif %}
<!-- /sources-sidebar -->
