{% if page.videocarousel %}
<section class="bg-inverse p-y-0">
    <div class="owl-carousel owl-slide owl-slide-no-auto">
      {% for item in page.videocarousel %}
        <div class="carousel-item" style="height: 70vh; background-image: url('{{ item.image }}');">
          <div class="carousel-overlay"></div>
          <div class="carousel-caption">
              <div class="embed-responsive embed-responsive-16by9">
                {% if item.youtube %}
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ item.youtube }}" allowfullscreen></iframe>
                {% endif %}
                {% if item.twitch %}
                <iframe src="https://player.twitch.tv/?autoplay=false&video={{item.twitch}}" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
                {% endif %}
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
