<div class="post-header">
    {% assign page_category_raw = page.category | default: page.console %}
    {% assign page_category_json = page_category_raw | jsonify %}
    {% if page_category_json contains '[' %}
    {% assign page_category = page_category_raw | first %}
    {% else %}
    {% assign page_category = page_category_raw %}
    {% endif %}
    {% assign page_category_meta = site.category[page_category] %}
    {% if page_category_meta == nil %}
    {% assign page_category_meta = site.category[page_category | downcase] %}
    {% endif %}
    <div>
        {% if page.thumbnail %}
        <img class="post-header-icon" src="{{ page.thumbnail }}" alt="Post thumbnail">
        {% elsif page_category_meta and page_category_meta.image %}
        <img class="post-header-icon" src="{{ page_category_meta.image }}" alt="{{ page_category_meta.title | default: page_category }}">
        {% else %}
        <img src="/public/images/RetroReversingLogoSmall.png" alt="Retro reversing logo">
        {% endif %}
    </div>
    <div>
        <h1 class="post-title">{{ page.title }}</h1>             
        {% if page.editlink %}
        <a href="https://github.com/RetroReversing/retroReversing/edit/master/pages/{{page.editlink}}" class="post-edit-link"><i class="fa fa-edit" style="margin-right:5px"></i>Edit on Github</a>
        {% else %}
        <a href="https://github.com/RetroReversing/retroReversing/tree/master/pages" class="post-edit-link"><i class="fa fa-edit" style="margin-right:5px"></i>Edit on Github</a>
        {% endif %}
        | Updated:
        <i> 
            {% if page.updatedAt %}
            {{page.updatedAt | date_to_long_string: "ordinal"}}
            {% else %}
            {{site.time | date_to_long_string: "ordinal"}}
            {% endif %}
        </i>
        
    </div>
</div>
