<div class="post-footer">
    <div class="post-actions">
        {% if include.tags %}
            <div class="post-tags">
            {% for tag in include.tags %}
                <a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
            </div>
        {% endif %}
        
        {% include_cached social-share.html title=page.title url=page.url %}
    </div>
        
    <div id="follow-retro-reversing" style="background-color:#242629; display: flex; justify-content: center;">
        {% include_cached followUs.html %}
    </div>
        
    <div id="comments" class="comments anchor">
        {% include_cached disqus.html %}
    </div>
</div>