<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->
  
  <!-- main -->
  <section class="bg-image bg-image-sm error-404" style="background-image: url('https://img.youtube.com/vi/y3Cpetu4ke4/maxresdefault.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="heading">
            <h2>404</h2>
          </div>
          <p>Sorry, but the page you requested could not be found.</p>
          <!-- <form>
            <div class="col-lg-8 mx-auto">
              <div class="form-group input-icon-right">
                <input type="text" class="form-control" placeholder="Search Page...">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </form> -->
          <div class="m-t-50">
            <a href="/" class="btn btn-primary btn-effect btn-shadow btn-rounded btn-lg">Back to home</a>
            <!-- <a href="contact.html" class="btn btn-outline-default btn-rounded btn-lg m-l-10">Contact Us</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  {% include footer.html %}

 
</body>
</html>
