<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  <section class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        {% if page.breadcrumbs %}
            {% for crumb in page.breadcrumbs %}
            <li><a href="{{ site.baseurl }}/{{crumb}}" >{{ crumb }}</a></li>
            {% endfor %}
        {% endif %}
      </ol>
    </div>
  </section>

  <section>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
          
          {{ content }}
          
          <!-- post -->
          <div class="post post-card">
            <div class="post-header">
              <div>
                <a href="profile.html">
                <img src="img/user/user-3.jpg" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <a href="blog-post.html">Uncharted The Lost Legacy First Gameplay Details Revealed</a>
                </h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> Julye 28, 2017 by <a href="profile.html">Clark</a></span>
                  <span><a href="blog-post.html#comments"><i class="fa fa-comment-o"></i> 98 comments</a></span>
                </div>
              </div>
            </div>
            <div class="post-thumbnail">
              <img src="img/blog/blog-1.jpg" alt="Uncharted The Lost Legacy First Gameplay Details Revealed">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id urna ac lacus iaculis sollicitudin. Sed iaculis ante ut mi vehicula, laoreet ullamcorper nibh condimentum. Nunc sem urna, tincidunt sed purus non, sollicitudin fringilla nibh.
              Ut lacinia lorem quis interdum laoreet. Curabitur massa ligula, ultrices non ipsum a, scelerisque iaculis mauris. Vivamus ut cursus quam.</p>
            <div class="post-footer">
              <a class="btn btn-secondary" href="blog-post.html" role="button">Read More</a>
              <a class="float-right p-t-10" href="#"><i class="fa fa-heart-o"></i> 45 likes</a>
            </div>
          </div>

          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="separate"><span>...</span></li>
              <li class="page-item"><a class="page-link" href="#">25</a></li>
              <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="plugins/popper/popper.min.js"></script>
  <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- theme js -->
  <script src="js/theme.min.js"></script>
</body>
</html>
