<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include breadcrumbs.html %}
  
  {% include carousel.html %}

  <section>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
          
          {{ content }}
   
          {% include pagination.html %}
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->
  
  {% include footer.html %}
</body>
</html>
