<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include breadcrumbs.html %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          {% include single-post.html %}
          
        </div>
        <div class="col-lg-3">
          <div class="sidebar">
            {% include recommended-sidebar.html %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  {% include footer.html %}

 
</body>
</html>
