<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include hero.html %}

  <section class="toolbar toolbar-links">
    <div class="container">
      <h5>Recent</h5>
      
      <!--<ul class="toolbar-nav hidden-md-down m-r-25">
        <li><a href="#tutorials">Tutorials</a></li>
        <li class="active"><a href="#games">Games</a></li>
      </ul>-->
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row row-5">
        
        {% for post in site.pages %}
        {% if post.image %}
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card card-video">
                  <div class="card-img">
                      <a href="{{ post.url }}">
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                      </a>
                      {% if post.recommend %}
                        <div class="card-meta">
                          <span>{{ post.recommend }}</span>
                        </div>
                      {% endif %}
                  </div>
                  <div class="card-block">
                       <h4 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
<!--                        <div class="card-meta">
                        <span><i class="fa fa-clock-o"></i> May 21, 2017</span>
                        <span>436 views</span>
                       </div>       -->
                  </div>
              </div>
        </div>
        {% endif %}
        {% endfor %}     
      </div>
   
    </div>
  </section>
  <!-- /main -->

  {% include footer.html %}

 
</body>
</html>
