<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include_cached breadcrumbs.html breadcrumbs=page.breadcrumbs %}
  
  {% include_cached video-header.html youtube=page.youtube image=page.image %}
  
  {% include_cached video-carousel.html videocarousel=page.videocarousel %}

  <main id="main-content">
    <section>
      <div class="container post-container">
        <div class="row">
          <div class="col-lg-9" style="padding-left: 0px;">
            <div class="post post-single">
              {% include posts/post-header.html %}
              {{ content | markdownify }}
            </div>
            {% include_cached posts/post-footer.html tags=page.tags %}
          </div>
          <aside class="col-lg-3">
            <div class="sidebar">
              {% include_cached sources-sidebar.html references=page.references hideTOC=page.hideTOC %}
              {% include_cached recommended-sidebar.html recommend=page.recommend tags=page.tags recommend_title=page.recommendTitle current_url=page.url %}
            </div>
          </aside>
        </div>
      </div>
    </section>
  </main>
  <!-- /main -->

  {% assign has_mermaid = false %}
  {% if page.mermaid == true or page.content contains '```mermaid' or page.content contains 'language-mermaid' or page.content contains 'lang-mermaid' %}
    {% assign has_mermaid = true %}
  {% endif %}

  {% assign has_twitter = false %}
  {% if page.content contains 'twitter-tweet' or page.content contains 'twitter-timeline' %}
    {% assign has_twitter = true %}
  {% endif %}
  {% include_cached footer.html has_mermaid=has_mermaid has_twitter=has_twitter %}

 
</body>
</html>
