<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{page.title}}">
  {% if page.twitterimage %}
    <meta name="twitter:image" content="{{page.twitterimage}}">
  {% else if page.image %}
    <meta name="twitter:image" content="{{page.image}}">
  {% else %}
    <meta name="twitter:image" content="https://www.retroreversing.com/{{page.thumbnail}}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:title" content="{{page.description}}">
  {% else %}
    <meta name="twitter:title" content="Retro Reversing - Peek behind the curtain to see how your favourite video games were made.">
  {% endif %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include breadcrumbs.html %}
  
  {% include video-header.html %}
  
  {% include video-carousel.html %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="post post-single">
            <div class="post-header">
              <div>
                <img src="{{ page.thumbnail }}" alt="">
              </div>
              <div>
                <h2 class="post-title">{{ page.title }}</h2>             
                {% if page.editlink %}
                  <a href="https://github.com/RetroReversing/retroReversing/edit/master/pages/{{page.editlink}}"><i class="fa fa-edit"></i>Edit on Github</a>
                {% else %}
                  <a href="https://github.com/RetroReversing/retroReversing/tree/master/pages"><i class="fa fa-edit"></i>Edit on Github</a>
                {% endif %}
                | Updated:
                <i> 
                    {% if page.updatedAt %}
                      {{page.updatedAt | date_to_long_string: "ordinal"}}
                    {% else %}
                      {{site.time | date_to_long_string: "ordinal"}}
                    {% endif %}
                </i>
                
              </div>
            </div>
            {{ content | markdownify }}
          </div>
          <div class="post-actions">
            {% if page.tags %}
              <div class="post-tags">
                {% for tag in page.tags %}
                  <a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
            
         
            {% include social-share.html %}
          </div>
          
          <div id="follow-retro-reversing" style="background-color:#242629; display: flex; justify-content: center;">
            <a href="https://twitter.com/RetroReversing"><img src="/public/images/Follow RetroReversing on Twitter.jpg" /></a>
          </div>
          
          <div id="comments" class="comments anchor">
            {% include disqus.html %}
          </div>
          
        </div>
        <div class="col-lg-3">
          <div class="sidebar">
            {% include sources-sidebar.html %}
            {% include recommended-sidebar.html %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  {% include footer.html %}

 
</body>
</html>
