<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include breadcrumbs.html %}

  <section class="bg-image" style="background-image: url('{{ page.image }}');">
    <div class="overlay-light"></div>
    <div class="container">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube }}" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="post post-single">
            <div class="post-header">
              <div>
                <img src="{{ page.thumbnail }}" alt="">
              </div>
              <div>
                <h2 class="post-title">{{ page.title }}</h2>                
              </div>
            </div>
            {{ content | markdownify }}
          </div>
          <div class="post-actions">
            {% if page.tags %}
              <div class="post-tags">
                {% for tag in page.tags %}
                  <a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
            
         
            <div class="social-share">
              <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
              <span>5.345k</span>
              <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
          
        </div>
        <div class="col-lg-3">
          <div class="sidebar">
            <!-- widget post  -->
            <div class="widget widget-videos">
              <h5 class="widget-title">Recommends</h5>
              <ul class="widget-list">
                {% for post in site.pages %}
                  {% if post.tags contains page.recommend %}
                    <li>
                      <div class="widget-img">
                        <a href="{{ post.permalink }}"><img src="{{ post.image }}" alt=""></a>
                        <span>{{ page.recommend }}</span>
                      </div>
                      <h4><a href="blog-post.html">{{ post.title }}</a></h4>                  
                    </li>
                  {% endif %}
                {% endfor %}
          
              </ul>
            </div>
            <!-- /widget post -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  {% include footer.html %}

 
</body>
</html>
