<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="fixed-header">
  <!-- header -->
  {% include header.html %}
  <!-- /header -->

  <!-- main -->
  {% include breadcrumbs.html %}

  <section class="bg-image" style="background-image: url('https://img.youtube.com/vi/{{ page.youtube }}/maxresdefault.jpg');">
    <div class="overlay-light"></div>
    <div class="container">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube }}?time_continue=41" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="post post-single">
            <div class="post-header">
              <div>
                <a href="profile.html"><img src="img/user/user-3.jpg" alt=""></a>
              </div>
              <div>
                <h2 class="post-title">{{ page.title }}</h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> August 22, 2017 by <a href="profile.html">Clark</a></span>
                  <span><a href="#comments"><i class="fa fa-comment-o"></i> 33 comments</a></span>
                </div>
              </div>
            </div>
            {{ content | markdownify }}
          </div>
          <div class="post-actions">
            {% if page.tags %}
              <div class="post-tags">
                {% for tag in page.tags %}
                  <a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
            
         
            <div class="social-share">
              <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
              <span>5.345k</span>
              <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
          
        </div>
        <div class="col-lg-3">
          <div class="sidebar">
            <!-- widget post  -->
            <div class="widget widget-videos">
              <h5 class="widget-title">Recommends</h5>
              <ul class="widget-list">
                <li>
                  <div class="widget-img">
                    <a href="blog-post.html"><img src="https://i1.ytimg.com/vi/4BLkEJu9szM/mqdefault.jpg" alt=""></a>
                    <span>2:13</span>
                  </div>
                  <h4><a href="blog-post.html">Titanfall 2's Trophies Only Have 3 Earned Through Multiplayer</a></h4>
                  <span><i class="fa fa-clock-o"></i> July 30, 2017</span>
                  <span><i class="fa fa-eye"></i> 345x</span>
                </li>
                <li>
                  <div class="widget-img">
                    <a href="blog-post.html"><img src="https://i1.ytimg.com/vi/Kae-JjbLsgA/mqdefault.jpg" alt=""></a>
                    <span>13:07</span>
                  </div>
                  <h4><a href="blog-post.html">Star Wars Battlefront II -- The Story of an Imperial Soldier</a></h4>
                  <span><i class="fa fa-clock-o"></i> July 29, 2017</span>
                  <span><i class="fa fa-eye"></i> 1269x</span>
                </li>
                <li>
                  <div class="widget-img">
                    <a href="blog-post.html"><img src="https://i.ytimg.com/vi/kUKrStkG-hE/mqdefault.jpg" alt=""></a>
                    <span>5:17</span>
                  </div>
                  <h4><a href="blog-post.html">Far Cry 5: Full Length Reveal Trailer</a></h4>
                  <span><i class="fa fa-clock-o"></i> July 20, 2017</span>
                  <span><i class="fa fa-eye"></i> 692x</span>
                </li>
                <li>
                  <div class="widget-img">
                    <a href="blog-post.html"><img src="https://i1.ytimg.com/vi/B6qY-P4eo1Q/mqdefault.jpg" alt=""></a>
                    <span>2:30</span>
                  </div>
                  <h4><a href="blog-post.html">Mafia 3: The Movie (All Cutscenes HD)</a></h4>
                  <span><i class="fa fa-clock-o"></i> June 13, 2017</span>
                  <span><i class="fa fa-eye"></i> 1136x</span>
                </li>
                <li>
                  <div class="widget-img">
                    <a href="blog-post.html"><img src="https://i1.ytimg.com/vi/1Y_DVbmRNhc/mqdefault.jpg" alt=""></a>
                    <span>2:12</span>
                  </div>
                  <h4><a href="blog-post.html">Ghost in the Shell (2017) - Official Trailer</a></h4>
                  <span><i class="fa fa-clock-o"></i> May 14, 2017</span>
                  <span><i class="fa fa-eye"></i> 7879x</span>
                </li>
                <li>
                  <div class="widget-img">
                    <a href="blog-post.html"><img src="https://i1.ytimg.com/vi/PmaZw1xMxBQ/mqdefault.jpg" alt=""></a>
                    <span>15:38</span>
                  </div>
                  <h4><a href="blog-post.html">Call of Duty: Infinite Warfare Gameplay</a></h4>
                  <span><i class="fa fa-clock-o"></i> March 1, 2017</span>
                  <span><i class="fa fa-eye"></i> 723x</span>
                </li>
              </ul>
            </div>
            <!-- /widget post -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  {% include footer.html %}

 
</body>
</html>
